@import "tailwindcss";

/* Remover spinner do input number */
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

/* Scrollbar arredondada */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #87d7ba;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background-color: #ecfdf5;
}

